html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

@font-face {
  font-family: "HelveticaNeueW01-55Roman";
  src: url("assets/fonts/HelveticaNeueW01-55Roman.eot?#iefix");
  src: url("assets/fonts/HelveticaNeueW01-55Roman.eot?#iefix") format("eot"),
  url("assets/fonts/HelveticaNeueW01-55Roman.woff") format("woff"),
  url("assets/fonts/HelveticaNeueW01-55Roman.ttf") format("truetype"),
  url("assets/fonts/HelveticaNeueW01-55Roman.svg#helvetica_neue") format("svg");
}

.stocks-list-wrapper {
  width: 1383px;
  height: 941px;
  background-color: #f0f4f7;
  padding: 45px;
  margin: 0 auto;
}

.stocks-list-container {
  background-color: white;
  width: 100%;
  height: 100%;
}

.stocks-list-header {
  height: 130px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stokr-logo {
  font-family: LucidaGrande;
  font-size: 39px;
  font-weight: bold;
  text-transform: uppercase;
  color: #41bf15;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons a,
.header-buttons button {
  background: none;
  border: none;
  color: #8f8f8f;
  font-size: 42px;
  font-weight: 300;
  line-height: 100%;
}

.remove {
  display: none;
}

.stocks-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.stocks-list li {
  padding: 30px;
  border-top: 1px solid #e5e5e5;
}

.stock-name {
  font-family: Avenir;
  font-size: 33px;
  font-weight: 300;
  color: #59737c;
}

.stock-stats {
  display: inline-block;
}

.stock-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-div > div {
  display: flex;
  align-items: center;
}

.stock-change,
.stock-price {
  font-family: Avenir;
  font-weight: 300;
}

.stock-price {
  color: #59737c;
  font-size: 30px;
  padding-right: 20px;
}

.stock-change {
  width: 150px;
  height: 56px;
  border-radius: 10px;
  border-color: transparent;
  font-size: 34px;
  color: white;
}

.red-bcg {
  background-color: #ff4f46;
}

.green-bcg {
  background-color: #63da39;
}

.arrow-down {
  transform: rotate(180deg);
}

.arrow-up,
.arrow-down {
  color: #ababab;
  font-size: 20px;
  padding: 0;
  border: none;
  background: none;
}

.arrow-up:disabled,
.arrow-down:disabled {
  color: rgba(171, 171, 171, 0.2);
}

.reorder-stocks {
  padding-left: 20px;
  display: flex;
  width: 40px;
  flex-direction: column;
  justify-content: space-around;
}

.filter-panel {
  height: 161px;
  padding: 0 20px;
}

.filter-panel form {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
}

.filter-panel form div {
  display: inline-flex;
  height: 70px;
  padding-bottom: 10px;
}

.filter-panel form select,
.filter-panel form input {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  height: 55px;
  width: 330px;
}

.filter-panel form label {
  width: 200px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 26px;
  color: #59737c;
}

.apply-filter {
  width: 120px;
  height: 120px;
  background-color: #41bf15;
  border: 1px solid #247906;
  border-radius: 80px;
  color: white;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 30px;
}

.hidden {
  visibility: hidden;
}

button.green {
  color: #41bf15;
}
